<html>
  <head>
    <title>Config</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

    <div id="updated">{{ updated }}</div>

    <div id="container">

        <h1>GRENIER SERVER CONFIGURATION</h1>
        <div class="col">
            <form method="POST" action="{{ url_for('submit_form') }}">

                <div class="row">
                    <div class="input">
                        <label for="language">Language</label>
                        <select name="language" id="language" >
                            <option value="fr" {% if language == 'fr' %} selected {% endif %}>Français</option>
                            <option value="en" {% if language == 'en' %} selected {% endif %}>English</option>
                        </select>
                    </div>    

                    {% if showall %}
                    <div class="input">
                    {% else %}
                    <div class="input" style="display: none;">
                    {% endif %}
                        <label for="gpt_temp">GPT Temperature <span class="hint">(min=0, max=2)</span></label>
                        <input type="number" id="gpt_temp" name="gpt_temp" step=0.01 min=0 max=2 value="{{ gpt_temp }}" required>
                    </div>   
                </div>

               
                    {% if showall %}
                    <div class="raw">
                    {% else %}
                    <div class="raw" style="display: none;">
                    {% endif %}
                    <div class="input">
                        <label for="talk">Talk </label>
                        <select name="talk" id="talk" >
                            <option value="1" {% if talk  %} selected {% endif %}>Yes</option>
                            <option value="0" {% if not talk  %} selected {% endif %}>No</option>
                        </select>
                    </div>
                    {% if showall %}
                    <div class="input">
                    {% else %}
                    <div class="input" style="display: none;">
                    {% endif %}
                        <label for="transcription_silence">Transcription Silence Time<span class="hint">(min=0.5, max=60)</span></label>
                        <input type="number" id="transcription_silence" name="transcription_silence" step=0.01 min=0.5 max=60 value="{{ transcription_silence }}" required>
                    </div>
                </div>

                <div class="row">
                    <div class="input">
                        <label for="model">Model </label>
                        <select name="model" id="model" >
                            <option value="gpt-3.5-turbo" {% if model == 'gpt-3.5-turbo' %} selected {% endif %}>gpt-3.5-turbo</option>
                            <option value="gpt-3.5-turbo-16k" {% if model == 'gpt-3.5-turbo-16k' %} selected {% endif %}>gpt-3.5-turbo-16k</option>
                            <option value="gpt-4" {% if model == 'gpt-4' %} selected {% endif %}>gpt-4</option>
                            <option value="gpt-4-32k" {% if model == 'gpt-4-32k' %} selected {% endif %}>gpt-4-32k</option>
                        </select>
                    </div>
                    {% if showall %}
                    <div class="input">
                    {% else %}
                    <div class="input" style="display: none;">
                    {% endif %}
                        <label for="transcription_restart">Transcription Restart Delay <span class="hint">(min=0.1, max=1)</span></label>
                        <input type="number" id="transcription_restart" name="transcription_restart" step=0.01 min=0.1 max=1 value="{{ transcription_restart }}" required>
                    </div>
                </div>
                
               
                <div class="row"  style="display: none;">
                    <div class="input">
                        <label for="toggle_listen">Toggle Listen </label>
                        <select name="toggle_listen" id="toggle_listen" >
                            <option value="1" {% if toggle_listen  %} selected {% endif %}>Yes</option>
                            <option value="0" {% if not toggle_listen  %} selected {% endif %}>No</option>
                        </select>
                    </div>
                </div>
           

                <div class="row">
                    <div class="input">
                        <label for="prompt_list">Prompt list</label>
                        <select name="prompt_list" id="prompt_list" >
                        </select>
                    </div>
                    <div class="input">
                        <label for="prompt_slot">Prompt slot</label>
                        <select name="prompt_slot" id="prompt_slot" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>

                {% if showall %}
                    <div class="row">
                    {% else %}
                    <div class="row" style="display: none;">
                    {% endif %}
                    <div class="input">
                        <label for="prompt_new">New (name):</label>
                        <input type="text" id="prompt_new" name="prompt_new">
                    </div>
                    <div class="input small">
                        <label for="prompt_add">&nbsp;</label>
                        <input type="submit" id="prompt_add" value="Add">
                    </div>
                    <div class="input small">
                        <label for="prompt_mod">&nbsp;</label>
                        <input type="submit" id="prompt_mod" value="Mod">
                    </div>
                    <div class="input small">
                        <label for="prompt_del">&nbsp;</label>
                        <input type="submit" id="prompt_del" value="Del">
                    </div>
                </div>

                <div class="input">
                    <label for="gpt_role">Role</label>
                    <textarea id="gpt_role" name="gpt_role" rows="4" placeholder="À partir de maintenant tu parles comme..." required></textarea>
                </div>

                <div class="input">
                    <label for="gpt_context">Context</label>
                    <textarea id="gpt_context" name="gpt_context" rows="4" placeholder="Notre conversation doit prendre en compte le contexte suivant: ..." ></textarea>
                </div>

                <div class="input">
                    <label for="gpt_action">Action</label>
                    <textarea id="gpt_action" name="gpt_action" rows="4" ></textarea>
                </div>

                <div class="row">
                    <div id="update_notice">Configuration updated</div>
                    <input type="submit" id="submit_save" value="Save">
                </div>

            </form>

        </div>


        <div class="col">
            <h3>Toggle Off Mode</h3>
            <form id="play" method="POST" action="{{ url_for('play') }}" class="{{ playing_mode }}">
                <input type="submit" value="Play">
            </form>
            <form  id="pause" method="POST" action="{{ url_for('pause') }}"  class="{{ playing_mode }}">
                <input type="submit" value="Pause">
            </form>
            <h3>General</h3>
            <form id="stop-1" >
                <button id="stop-input-1" value="Stop 1">Stop</button>
            </form>
          
            <form id="reset-conv-1" >
                <button id="reset-conv-input-1" value="End/Reset conversation 1">End/Reset conversation</button>
            </form>
          

        </div>

    </div>

    <script>

        {% if showAll %}
            var showAll = true;
        {% else %}
        var showAll = false;
        {% endif %}
        var up = document.getElementById("updated").innerHTML;
        if ( up == '1') 
        {
            document.getElementById("update_notice").classList.add("show");
            setTimeout( function(){
                document.getElementById("update_notice").classList.add("hide");
                document.getElementById("update_notice").classList.remove("show");
            }, 2000);
        }

        /*
        document.getElementById("toggle-listen-input-1").addEventListener('mousedown', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/toggle_listen_1', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send(JSON.stringify({ data: "on" }));
        });
        

        document.getElementById("toggle-listen-input-1").addEventListener('mouseup', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/toggle_listen_1', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send(JSON.stringify({ data: "off" }));
        });
      
        document.getElementById("toggle-listen-input-2").addEventListener('mousedown', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/toggle_listen_2', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send(JSON.stringify({ data: "on" }));
        });
        
        document.getElementById("toggle-listen-input-2").addEventListener('mouseup', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/toggle_listen_2', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send(JSON.stringify({ data: "off" }));
        });
          */


        /*
        document.getElementById("stop-input-1").addEventListener('click', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/stop_1', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send();
        });
        
        document.getElementById("stop-input-2").addEventListener('mouseup', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/stop_2', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send();
        });
        */
        

        document.getElementById("reset-conv-input-1").addEventListener('click', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/reset_1', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send();
        });

        /*
        document.getElementById("reset-conv-input-2").addEventListener('click', function()
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/reset_2', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) { console.log(xhr.responseText); }
            };
            xhr.send();
        });
        */

        //

        function escapeQuotes(str)
        {
            str = str.replaceAll("&#34;","\"");
            str = str.replaceAll("&#39;","'");
            str = str.replaceAll("\\[", "[");
            str = str.replaceAll("\\]", "]");
            return str;
        }

        function cleanEscape(str)
        {
            str = str.replaceAll("\"","\\\"");
            // str = str.replaceAll("\'","\\'");
            str = str.replaceAll("\n"," ");
            str = str.replaceAll("  "," ");
            str = str.replaceAll("[", "\\[");
            str = str.replaceAll("]", "\\]");
            return str;
        }

        function setPromptSel(slot, init = false)
        {
            var prompt_sel = document.getElementById("prompt_list");
            var length = prompt_sel.options.length;
            for (i = length-1; i >= 0; i--) {
                prompt_sel.options[i] = null;
            }

            var index = 0;
            
            for (var id in slots_prompt[slot]) 
            {
                const opt = document.createElement("option");
                opt.value = slots_prompt[slot][id][0];
                opt.text = opt.value;
                opt.setAttribute("prompt_id",id);
                document.getElementById("prompt_list").add(opt);

                if (id == init_prompt)
                {
                    opt.selected = 'selected';
                    document.getElementById("gpt_role").value = slots_prompt[slot][id][1];
                    document.getElementById("gpt_context").value = slots_prompt[slot][id][2];
                    document.getElementById("gpt_action").value = slots_prompt[slot][id][3];
                }

                if ( init_prompt >= 0 && index == 0 )
                {
                    document.getElementById("gpt_role").value = slots_prompt[slot][id][1];
                    document.getElementById("gpt_context").value = slots_prompt[slot][id][2];
                    document.getElementById("gpt_action").value = slots_prompt[slot][id][3];
                }

                index++;
            }

            if ( Object.keys(slots_prompt[slot]).length == 0 && !init)
            {
                document.getElementById("gpt_role").value = "";
                document.getElementById("gpt_context").value = "";
                document.getElementById("gpt_action").value = "";
            }
        }

        function addPrompt(id)
        {
            var title = document.getElementById("prompt_new").value;
            const opt = document.createElement("option");
            opt.value = title
            opt.text = opt.value;
            opt.setAttribute("prompt_id",id);
            document.getElementById("prompt_list").add(opt);
            opt.selected = 'selected';

            var slot = slot_sel.value-1;

            var gpt_role = document.getElementById("gpt_role").value;
            var gpt_context = document.getElementById("gpt_context").value;
            var gpt_action = document.getElementById("gpt_action").value;
            gpt_role = cleanEscape(gpt_role);
            gpt_context = cleanEscape(gpt_context);
            gpt_action = cleanEscape(gpt_action);

            slots_prompt[slot][id] = [
                title,
                gpt_role,
                gpt_context,
                gpt_action
            ];

            document.getElementById("prompt_new").value = "";
        }

        function modPrompt()
        {
            var slot = slot_sel.value-1;
            var id = prompt_sel.selectedOptions[0].getAttribute("prompt_id");

            var title = document.getElementById("prompt_new").value;
            if (title != "") 
            { 
                slots_prompt[slot][id][0] = title;
                prompt_sel.selectedOptions[0].value = title;
                prompt_sel.selectedOptions[0].text = title;
            }

            var gpt_role = document.getElementById("gpt_role").value;
            var gpt_context = document.getElementById("gpt_context").value;
            var gpt_action = document.getElementById("gpt_action").value;
            gpt_role = cleanEscape(gpt_role);
            gpt_context = cleanEscape(gpt_context);
            gpt_action = cleanEscape(gpt_action);

            slots_prompt[slot][id][1] = gpt_role;
            slots_prompt[slot][id][2] = gpt_context;
            slots_prompt[slot][id][3] = gpt_action;

            document.getElementById("prompt_new").value = "";
        }

        function delPrompt()
        {
            var slot = slot_sel.value-1;
            var id = prompt_sel.selectedOptions[0].getAttribute("prompt_id");
            delete slots_prompt[slot][id];
            prompt_sel.selectedOptions[0] = null;
            setPromptSel(slot);
        }

        var prompt_add = document.getElementById("prompt_add")
        prompt_add.addEventListener("click", function(e)
        {
            e.preventDefault();
            e.stopPropagation();

            var slot = slot_sel.value;
            var title = document.getElementById("prompt_new").value;
            if (title == "") { return; }
            
            var gpt_role = document.getElementById("gpt_role").value;
            var gpt_context = document.getElementById("gpt_context").value;
            var gpt_action = document.getElementById("gpt_action").value;
            gpt_role = cleanEscape(gpt_role);
            gpt_context = cleanEscape(gpt_context);
            gpt_action = cleanEscape(gpt_action);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/add_prompt', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) 
                { 
                    var id = JSON.parse(xhr.responseText)["id"]; 
                    addPrompt(id)
                }
            };
            xhr.send(JSON.stringify({ 
                slot: slot,
                title: title,
                gpt_role: gpt_role,
                gpt_context : gpt_context,
                gpt_action : gpt_action
            }));
        });

        var prompt_mod = document.getElementById("prompt_mod")
        prompt_mod.addEventListener("click", function(e)
        {
            e.preventDefault();
            e.stopPropagation();

            var slot = slot_sel.value;
            var title = document.getElementById("prompt_new").value;
            if (title == "") 
            { 
                title = prompt_sel.selectedOptions[0].value; 
            }
            var id = prompt_sel.selectedOptions[0].getAttribute("prompt_id");

            var gpt_role = document.getElementById("gpt_role").value;
            var gpt_context = document.getElementById("gpt_context").value;
            var gpt_action = document.getElementById("gpt_action").value;
            gpt_role = cleanEscape(gpt_role);
            gpt_context = cleanEscape(gpt_context);
            gpt_action = cleanEscape(gpt_action);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/mod_prompt', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) 
                {
                    modPrompt();
                }
            };

            xhr.send(JSON.stringify({ 
                id: id,
                slot: slot,
                title: title,
                gpt_role: gpt_role,
                gpt_context : gpt_context,
                gpt_action : gpt_action
            }));
        });

        var prompt_del = document.getElementById("prompt_del")
        prompt_del.addEventListener("click", function(e)
        {
            e.preventDefault();
            e.stopPropagation();

            var id = prompt_sel.selectedOptions[0].getAttribute("prompt_id");

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/del_prompt', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) 
                {
                    delPrompt();
                }
            };

            xhr.send(JSON.stringify({ 
                id: id,
            }));
        });

        // var prompt_del = document.getElementById("submit_save")
        // prompt_del.addEventListener("click", function(e)
        // {
        //     var gpt_role = document.getElementById("gpt_role").value;
        //     var gpt_context = document.getElementById("gpt_context").value;
        //     var gpt_action = document.getElementById("gpt_action").value;
        //     gpt_role = cleanEscape(gpt_role);
        //     gpt_context = cleanEscape(gpt_context);
        //     gpt_action = cleanEscape(gpt_action);
        //     document.getElementById("gpt_role").value = gpt_role;
        //     document.getElementById("gpt_context").value = gpt_context;
        //     document.getElementById("gpt_action").value = gpt_action;
        // });

        //

        var prompt = '{{ prompt }}';
        prompt = escapeQuotes(prompt);
        prompt = JSON.parse(prompt);
        console.log(prompt);

        var slots_prompt = []
        for (var i=0; i < 5; i++)
        {
            slots_prompt.push({});
        }

        var init_slot = 0;
        var init_prompt = -1;
        var slot_sel = document.getElementById("prompt_slot")
        var prompt_sel = document.getElementById("prompt_list")

        var db_prompt = null;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/get_db_prompt', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() 
        {
            if (xhr.readyState === 4 && xhr.status === 200) 
            { 
                db_prompt = JSON.parse(xhr.responseText); 
                console.log(db_prompt);

                for (var i=0; i < prompt.length; i++)
                {
                    var p = prompt[i];
                    var id = p[0];
                    var slot = p[1]-1;
                    var title = p[2];
                    slots_prompt[slot][id] = [title,p[3],p[4],p[5]];

                    var gpt_role = db_prompt["gpt_role"];
                    var gpt_context = db_prompt["gpt_context"];
                    var gpt_action = db_prompt["gpt_action"];

                    if (gpt_role==p[3] && gpt_context==p[4] && gpt_action==p[5])
                    {
                        init_slot = slot;
                        init_prompt = id;
                    }
                    else
                    {
                        document.getElementById("gpt_role").value = gpt_role;
                        document.getElementById("gpt_context").value = gpt_context;
                        document.getElementById("gpt_action").value = gpt_action;
                    }
                }

                slot_sel.options[init_slot].selected = 'selected'; 
                setPromptSel(init_slot, true);

                slot_sel.addEventListener("change", function()
                {
                    var slot = slot_sel.value-1;
                    setPromptSel(slot);
                });

                prompt_sel.addEventListener("change", function()
                {
                    var slot = slot_sel.value-1;
                    var id = prompt_sel.selectedOptions[0].getAttribute("prompt_id");

                    document.getElementById("gpt_role").value = slots_prompt[slot][id][1];
                    document.getElementById("gpt_context").value = slots_prompt[slot][id][2];
                    document.getElementById("gpt_action").value = slots_prompt[slot][id][3];
                });
            }
        };
        xhr.send(JSON.stringify({}));

    </script>
  </body>
</html>