html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1; }

  body {
    margin: 0;
    padding: 1rem; }

    #updated {
      display: none; }

      #update_notice {
        opacity: 0;
        color: green; }
        #update_notice.show {
          opacity: 1; }
          #update_notice.hide {
            opacity: 0;
            transition: opacity ease-in-out 0.5s; }

#container {
  max-width: 1024px; }
  #container h1 {
    font-size: 2rem;
    line-height: 1; }

form {
  display: flex;
  flex-wrap: wrap; }
  form .col {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%; }
    form .input {
      margin-bottom: 1rem; }
      form label {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.25rem; }
        form label .hint {
          margin-left: 0.25rem;
          font-size: 0.75rem;
          line-height: 1; }
  form input, form select {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    width: 20%;
    padding: 0.25rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 0; }
    form textarea {
      width: 90%;
      padding: 0.25rem;
      border: 1px solid black;
      box-sizing: border-box;
      font-family: sans-serif;
      font-size: 1rem;
      line-height: 1.25; }
      form input[type="submit"] {
        background-color: black;
        color: white;
        border: 1px solid black;
        box-shadow: none;
        cursor: pointer; }
        form input[type="submit"]:hover {
          background-color: white;
          color: black; }
